<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.supplier.mapper.SupplierMapper">
    <insert id="SaveOrUpdateBatch2" parameterType="java.util.List">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            SELECT REPLACE(UUID(),'-','')
        </selectKey>
        insert into supplier (id,pin,supplier,Contact,Tel,Email,Website,City,Address,Zip_Code,Scope,Create_Time,Update_Time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.pin}, #{item.supplier}, #{item.contact}, #{item.tel},#{item.email},#{item.website},#{item.city},#{item.address},#{item.zipCode},#{item.scope},now(),#{item.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        pin = values (pin),
        supplier=values (supplier),
        Contact=values (contact),
        Tel=values (Tel),
        Email=values (Email),
        Website=values (Website),
        City=values (City),
        Address=values (Address),
        Zip_Code=values (Zip_Code),
        Scope=values (Scope),
        Create_Time=values (Create_Time),
        Update_Time=now()
    </insert>
</mapper>